@import url("https://fonts.googleapis.com/css2?family=Figtree&family=Rubik+Doodle+Shadow&display=swap");

body {
  margin: 0;
  display: flex;
  background: url("bg.svg") center no-repeat;
  background-size: cover; /* or contain, or specific dimensions */
  font-size: smaller;
  font-family: "Figtree", sans-serif;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* Prevent scrollbars caused by background image */
  height: 100vh;
  background-color: #97979700;
}

.container {
  background: rgba(255, 255, 255, 0.374);
  border-radius: 20px;
  padding: 20px;
  text-align: center;
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 75%;
  max-width: 75%;
}

h1 {
  color: #fff;
  font-size: 36px;
}

input {
  width: 80%;
  padding: 10px;
  margin: 10px;
  border: none;
  border-radius: 8px;
  outline: none;
}

.submitButton {
  padding: 10px 20px;
  border: none;
  background-color: #4caf50;
  color: #fff;
  cursor: pointer;
  border-radius: 8px;
}

.submitButton:hover {
  background-color: #45a049;
}

#episodeDetails {
  margin-top: 20px;
}

.generated {
  display: flex;
  flex-wrap: wrap;
}

.allDetails {
  flex: 1;
  box-sizing: border-box;
}

.snapAndShare {
  padding: 5px; /* Add some spacing between the two columns */
  flex: 1;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.episodeImage {
  border-radius: 8px;
}
.shareIcon {
  background-color: transparent;
  /* height: auto; */
}
.buttons-container {
  margin-top: 10px; /* Adjust as needed */
  /* display: flex; */
  /* justify-content: space-evenly; */
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
  button{
    background: transparent;
    border: none;
  }

}

/* @media (max-width: 767px) {

} */
